* @cyberark/community-and-integrations-team

# Changes to .trivyignore require Security Architect approval
.trivyignore @cyberark/security-architects

# Changes to .codeclimate.yml require Quality Architect approval
.codeclimate.yml @cyberark/quality-architects
# Changes to SECURITY.md require Security Architect approval
SECURITY.md @cyberark/security-architects

# Need to make sure we don't add something that triggers CVE-2020-36327 or CVE-2021-43809
Gemfile* @cyberark/security-architects
